.main_about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*padding-left: 3em;*/
    background-color: black;
    color: white;
    font-family: monospace;
}
.img_logo {
    margin-top: 1em;
    height: 80%;
}
.decor {
    color: lawngreen;
}
.another_decor {
    color: aqua;
}
a{
    color: #00cc22;
}
a:hover {
    color: #f2f2f2;
}
.js {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.link_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 43em;
}
.js_tasks {
    font-size: x-large;
}

