.main_about {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.main_about_mob {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}
.about {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    /*padding-left: 3em;*/
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
}
.about_mob {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}
.logo_tags {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
}
.img_logo {
    width: 60%;
    height: 60%;
}
.img_logo_mob {
    width: 80%;
    height: 30%;
}

.decor {
    color: #00cc22;
}
.another_decor {
    color: aqua;
}
a{
    color: #00cc22;
}
a:hover {
    color: #f2f2f2;
}
.js {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
}
.link_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.js_tasks {
    font-size: x-large;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
}
.react_projects_main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
.react_projects_list {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-top: 1em;
}
.title_description {
    display: flex;
    flex-direction: column;
}
.react_projects_preview {

}
.li_description {
    font-size: larger;
}
.white_span {
    color: white;
}

